* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f0f0f0;
}
a {
  text-decoration: none;
  color: #333;
}
ul {
  list-style: none;
}
img {
  display: block;
}
.clearfix:before, .clearfix:after { display: table; content: " ";height: 0}
.clearfix:after { clear: both;}
.w {
  width: 1100px;
  margin: 0 auto;
}

.float-left {
  float: left;
}
.float-right {
  float: right;
}

$nav-height: 90px !global;
$theme-color:#43B67A !global;
